@import "public/css/utils";
@import "public/css/reset";

@back:#22252A;
@toolbar:#753333;
@info:#555555;
@message:#eeeeee;


body, input {
  background-color:@back;
  color:@message;
  font-size: 18px;
}

.hide{
  display:none;
}

#chatList{
	list-style:none;
  padding: 4px 10px;
}

.info{
	color:@info;
}

#toolbar{
background-color: @toolbar;
height:30px;
bottom:50px;
position:fixed;
left:0;
right:0;
}

.toolbarInfo{
 float: left;  
}

.count{
 float: right;  
}

#toolbar p{
  padding: 4px 10px;
  display:inline;
}

.bottom{
  height:50px;
  bottom:0;
  position:fixed;
  left:0;
  right:0;
}

label {
display: none;
}

input {
width: 96%;
padding: 10px 2%;
line-height: 20px;
color: @message;
background: @back;
border:none;
}


